@import "../../Components/GlobalStyle/GlobalStyle.module.scss";

.Home-body {
    background-color: $main_bgcolor;
}


//animation
.animation-change-color{
color: $button_color_green !important;
transition: color 1s;
}
.animation-notchange-color{
    color: $section-6-h1-color;
    transition: color 1s;
}
.animation-slide{
animation: slide 15s linear 2s infinite alternate-reverse backwards  !important;

}



@keyframes slide {
    from{
    transform: translate(-55%);
    }
    to{
        transform: translate(-1%);

    }
}
//Responsive
