@import "../../WorkHowStyle.module.scss";

// Variables for commonly used styles
$bg-border-not-animation: rgba(243, 237, 228, 0.3);
$height-scroll: 0;

// Section 2 styles
.section-2 {
    padding-bottom: 7%;
    background-color: $main_bgcolor;
    color: $main_textcolor;
}

// Parent container for section items
.sec2Item-parent {
    padding: 10% 0 3% 0;
}

// Title styles
.title-sec2 {
    position: relative;
    flex: 0.4;

    h2 {
        font-weight: 900;
        margin-top: 4%;
        letter-spacing: -4px;
    }
}

// Button styles
.btn-title {
    margin-top: 80%;
    margin-left: 80%;
    background-color: $bg-border-not-animation;
    font-weight: 600;
    text-align: center;
    padding: 0.3rem 0.5rem;
}

// Border animation styles
.sec2Item-parent {
    .border-btn-animation {
        width: 3px;
        height: 130%;
        background-color: $bg-border-not-animation;
        margin-left: 125%;
        margin-top: 15%;

        .content-border {
            transition: max-height .8s ease;
            max-height: 0;
            width: 3px;
            background-color: $button_color_green;
        }
    }

    // Adjust height for the last item
    &:last-of-type {
        .border-btn-animation {
            height: 100%!important;
        }
    }
}

// Chart styles
.chart {
    flex: 0.5;
}

.chart-animtion {
    background-position: center;
    background-size: cover;

    img {
        width: 100%;
    }
}

// Question title styles
.title-question {
    margin-top: 30%;
}

// Question paragraph styles
.question {
    p {
        max-height: 0;
        overflow: hidden;
    }

    // Add underline to the question section
    &::after {
        content: "";
        position: absolute;
        background-color: $sub_bgcolor;
        height: 1px;
        width: 100%;
        bottom: 0%;
    }
}

// Button calculate styles
.btn-caculate {
    margin-top: 20%;
    padding: 2%;

    a {
        color: $main_textcolor;
        font-weight: 700;
        font-size: 100%;
    }
}

// Responsive styles for different screen sizes

// For large screens
@media only screen and (min-width: 1560px) {
    .border-btn-animation {
        margin-left: 294% !important;
        height: 135% !important;
    }

    .btn-title {
        margin-left: 250%;
    }
}

// For medium screens
@media only screen and (max-width: 1400px) {
    .title-sec2 {
        h2 {
            font-size: 225%;
            letter-spacing: normal;
        }
    }
}

// For small screens
@media only screen and (max-width: 1270px) {
    .btn-title {
        margin-left: 0;
    }

    .sec2Item-parent {
        .border-btn-animation {
            margin-left: 46%;
            height: 120%;
        }
    }
}

// For extra small screens
@media only screen and (max-width: 992px) {
    .btn-title {
        margin-left: 0;
    }

    .btn-caculate {
        margin-top: 2%;
    }

    .sec2Item-parent {
        .border-btn-animation {
            height: 106%;
        }

        &:last-of-type {
            .border-btn-animation {
                height: 90%!important;
            }
        }
    }

    .sec2Item {
        flex-direction: column;
    }

    .title-question {
        margin: 5% 0;
    }

    .chart {
        margin-top: 9%;
        width: 100%;
    }
}

// For very small screens
@media only screen and (max-width: 652px) {
    .sec2Item-parent {
        .border-btn-animation {
            height: 100%;
        }
    }
}
