// Import các biến và styles toàn cục
@import "../../../GlobalStyle/GlobalStyle.module.scss";

// Biến màu sắc và hover

$text_hover: #e3ded9;

// Class cho vị trí cố định
.position-fixed {
    position: fixed;
    z-index: 1000;
}

// Header styles
.header {
    background-color: $main_bgcolor;
    padding: 1% 0;
    width: 100%;
}

// Navigation styles
nav {
    display: flex;
    width: 90%;
    margin-left: 5%;
    align-items: center;

    // Link styles
    a {
        font-weight: 600;
    }

    ul {
        display: flex;
    }

    li {
        list-style: none;
        margin-left: 3rem;

        a {
            color: $main_textcolor;

            &:hover,
            &:active {
                color: $text_hover;
            }
        }
    }
}

// Logo styles
.logo {
    flex: auto;
}

// Thông tin đăng nhập
.tt-login {
    flex: auto;
    align-items: center;
    display: flex;
}

// Tiêu đề
.title {
    flex: auto;
}

// Button styles
.login {
    button {

        a {
            color: black;
        }
    }

    button:first-child {
        margin-right: 1.2rem;
        background-color: unset;
        box-shadow: 0px 0px 3px 1px #928b8b;
        &:active {
            border-width: 3px;
        }
        a {
            color: $main_textcolor;
        }
    }
}

// Icon bars styles (mobile menu)
.iconbars {
    font-size: 1.1rem;
    border-radius: 100px;
    width: 2.6rem;
    text-align: center;
    height: 2.6rem;
    align-content: center;
    background-color: $button_color_green;
    display: none;
    position: absolute;
    right: 0;
    top: -8%;
    cursor: pointer;
}

// Responsive styles
@media only screen and (max-width: 988px) {
    .header {
        padding: 2.5% 0;
    }

    nav {
        position: relative;

        ul {
            flex-direction: column;
        }
        li {
            margin: 0;
            text-align: center;
            font-size: 1.1rem;
            padding: 4% 0;
            text-transform: uppercase;
            letter-spacing: 2px;
            word-spacing: 1px;
        }
    }

    nav,
    .tt-login {
        flex-direction: column;
    }

    .logo {
        display: flex;
    }

    .tt-login {
        position: absolute;
        background-color: $main_bgcolor;
        top: 110%;
        padding-top: 2%;
        width: 120%;
        overflow: hidden;
        display: flex;
    }

    .login {
        display: flex;
        flex-direction: column;
    }

    .iconbars {
        display: block;
    }
}
