 @keyframes rotateMinus {
    from{
        transform: rotateZ(90deg);
    }
    to{
        transform: rotateZ(180deg);
    }
}
@keyframes rotateMinusReverse {
    from{
        transform: rotateZ(180deg);
    }
    to{
        transform: rotateZ(90deg);
    }
}



