/* Import các style cần thiết */
@import "../../../GlobalStyle/GlobalStyle.module.scss";

/* Định nghĩa padding bottom */
$padding_bt: 1.8rem;

/* Cài đặt các thuộc tính cho phần tổng quan câu hỏi */
.questions {
    background-color: $sub_bgcolor;
    h1 {
        font-size: 6rem;
        margin-bottom: 4rem;
        font-weight: 600;
    }
}

/* Phần chi tiết của từng câu hỏi */
.question {
    width: 92%;
    margin-left: 4%;
}

/* Phần nội dung của câu hỏi */
.question-content {
    display: flex;
}

/* Tiêu đề của câu hỏi */
.question-title {
    flex: 0.6;

    .questiontt {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
        color: gray;
        cursor: pointer;

        span {
            font-weight: 700;
        }

        svg {
            width: 5%;
            margin-right: 2%;
        }
    }
}

/* Phần chi tiết của câu hỏi */
.question-detail {
    flex: 1;

    .title {
        font-size: 1.1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            width: 60%;
            text-transform: uppercase;
            font-weight: 600;
            font-size: x-large;
        }

        svg {
            font-size: 2.4rem;
            cursor: pointer;
        }
    }
}

/* Phần con của câu hỏi */
.question-dt {
    display: none;
}

/* Phần con của từng câu hỏi */
.question-child {
    margin-bottom: 4rem;
    padding-bottom: $padding_bt;
    overflow: hidden;
    position: relative;

    .title {
        cursor: pointer;
        position: relative;
    }

   

    p {
        max-height: 0;
        overflow: hidden;
    }

    &::after {
        content: "";
        position: absolute;
        background-color: $sub_bgcolor;
        border-bottom: 1px solid black;
        height: $padding_bt;
        width: 100%;
        bottom: 0%;
    }
}

/* Hiệu ứng cho phần chi tiết của câu hỏi */
.hidden-detail {
    height: 7rem;
}

/* Hiển thị các phần được bật */
.enable {
    color: black !important;
    display: block !important;
}



/* Responsive cho màn hình nhỏ */
@media only screen and (max-width: 1000px) {
    .questions {
        h1 {
            margin-bottom: 1.6rem;
        }
    }

    .question-content {
        flex-direction: column;
    }

    .question-title {
        max-width: 100%;
        flex: 1;
        margin-bottom: 2rem;
        display: flex;

        .questiontt {
            flex: 0.3;
        }

        svg {
            width: 1.6rem !important;
            margin-right: 5% !important;
        }
    }
}

/* Responsive cho màn hình nhỏ hơn */
@media only screen and (max-width: 760px) {
    .question-title {
        flex-direction: column;
    }
}
